@import "./search.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: lighten($secondaryColor, 4);
  .col {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 20px;
    align-items: center;
  }
  .hamburger {
    button {
      background: none;
      outline: none;
      border: none;
      color: $whiteTextColor;
      font-size: 24px;
    }
  }
  .profile-wrapper {
    position: relative;
    .profile-dropdown {
      position: absolute;
      top: calc(100% + 10px);
      right: 20px;
      width: calc(100% + 30%);
      padding: 20px;
      background: #292e33;
      border-radius: 10px;
      box-shadow: 0px 0px 11px 7px rgb(0 0 0 / 8%);
      z-index: 5;
      .title {
        font-size: 12px;
        font-weight: 600;
      }
      ul {
        li {
          padding: 10px 0px;
          a {
            font-size: 14px;
            @include transition(.5s ease);
            &:hover {
              color: $whiteTextColor;
            }
          }
        }
      }
    }
  }

}