//using these variables only for builten function of scss eg: lighten,darken,rgba in colors,

$primaryColor: #1a1d21;
$secondaryColor: #212529;
$tertiaryColor: #dd7a2f;
$primaryTextColor: #222222;
$whiteTextColor: #ced4da;
$blackTextColor: #000000;
$mutedTextColor: #878a99;
$borderColor: #e0e0e0;

// default colors starts never change//
$success: #28a745 !default;
$info: #17a2b8 !default;
$warning: #ffc107 !default;
$danger: #dc3545 !default;

// default colors Ends never change//
$secound-theme-colors: () !default;
$secound-theme-colors: map-merge(
  (
    "primaryColor": $primaryColor,
    "secondaryColor": $secondaryColor,
    "tertiaryColor": $tertiaryColor,
    "primaryTextColor": $primaryTextColor,
    "whiteTextColor": $whiteTextColor,
    "mutedTextColor": $mutedTextColor,
    "blackTextColor": $blackTextColor,
    "borderColor": $borderColor,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
  ),
  $secound-theme-colors
);

/* ========================
   Social Media Theme Color
   ======================== */
$facebook: #3b5998;
$twitter: #1da1f2;
$instagram: #dd2a7b;
$linkedin: #0274b3;
$google-plus: #dd4d40;
$pinterest: #e56262;
$youtube: #d8362a;

$social-colors: () !default;
$social-colors: map-merge(
  (
    "facebook": $facebook,
    "twitter": $twitter,
    "instagram": $instagram,
    "linkedin": $linkedin,
    "google-plus": $google-plus,
    "pinterest": $pinterest,
    "youtube": $youtube,
  ),
  $social-colors
);
