@charset "utf-8";

@import "theme";

@import "functions.scss";

:root {
  --gp: 15px;
}

:root {
  // Custom variable values only support SassScript inside `#{}`.
  @each $color, $value in $secound-theme-colors {
    --#{$color}: #{$value};
  }

  @each $color, $value in $social-colors {
    --#{$color}: #{$value};
  }
  --spacing5: 5px;
  --spacing10: 10px;
  --spacing: 15px;
  --gap: 15px;

  @media (max-width: 768px) {
    --gp: 10px;
  }
}

//Styling using globaly in projects.

//Settings Have Custom Variables, Icons Variable and mixins.
@import "settings";
// HTML reset CSS.
@import "reset";
// Default Styling.
@import "global";
// Custom Grid Functions.
@import "grid";

// IF jQuery UI added than css Starts here.
// @import "jquery-ui";

// Partials Ends

// Projects Icon CSS
@import "../icons/style";

// Header CSS
@import "../components/header";

// Footer CSS
@import "../components/footer";

//css For Popups.
