$icomoon-font-family: "xicons" !default;
$icomoon-font-path: "fonts" !default;

$x_verified-shield: "\e905";
$x_feather-eye: "\e906";
$x_arrowleft: "\e903";
$x_arrowright: "\e904";
$x_bag: "\e90f";
$x_check_mark: "\e910";
$x_coupon_added: "\e911";
$x_coupon_used-path1: "\e912";
$x_coupon_used-path2: "\e913";
$x_coupon_used-path3: "\e914";
$x_coupon_used-path4: "\e915";
$x_coupon_used-path5: "\e916";
$x_coupon_used-path6: "\e917";
$x_coupon_used-path7: "\e918";
$x_coupon_used-path8: "\e919";
$x_coupon_used-path9: "\e91a";
$x_coupon_vocher: "\e91b";
$x_deals: "\e91c";
$x_magaphone: "\e91d";
$x_search: "\e91e";
$x_shop-2: "\e91f";
$x_shop: "\e920";
$x_shopping_card: "\e921";
$x_viewall: "\e922";
$x_paper-plane: "\f1d8";
$x_send: "\f1d8";
$x_grid: "\f00a";
$x_list: "\f00b";
$x_lock: "\f023";
$x_thumbs_up: "\f087";
$x_thumbs_down: "\f088";
$x_info-circle: "\f05a";
$x_copy: "\f0c5";
$x_heart: "\f004";
$x_menu: "\f0c9";
$x_star: "\f005";
$x_star-half: "\e902";
$x_advertise: "\e900";
$x_privacy: "\e901";
$x_home: "\f015";
$x_search1: "\f002";
$x_mail: "\f0e0";
$x_user_circle: "\f2be";
$x_user: "\f007";
$x_clock: "\f017";
$x_check: "\f00c";
$x_check_square: "\f046";
$x_up: "\f077";
$x_down: "\f078";
$x_left: "\f053";
$x_right: "\f054";
$x_facebook: "\f09a";
$x_linkedin: "\f0e1";
$x_twitter: "\f099";
$x_pinterest: "\f0d2";
$x_google_plus: "\f0d5";
$x_instagram: "\f16d";
$x_youtube: "\f167";
$x_close: "\e5cd";

